name: CI Workflow (UI)

on:
  push:
    branches: [ dev, main ]
    paths:
      - 'ui/**'
      - '.github/workflows/ci-ui.yaml'

  pull_request:
    branches: [ dev, main ]
    paths:
      - 'ui/**'
      - '.github/workflows/ci-ui.yaml'

jobs:
  run-ci:
    if: "!contains(github.event.head_commit.message, 'chore: release v')"
    name: Lint, Typecheck, Test, and Build
    runs-on: ubuntu-latest

    env:
      VITE_ALGOD_TOKEN: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
      VITE_ALGOD_SERVER: http://localhost
      VITE_ALGOD_PORT: 4001
      VITE_NFD_API_URL: http://localhost:80
      VITE_NFD_APP_URL: ws://localhost:3000
      VITE_EXPLORER_ACCOUNT_URL: https://app.dappflow.org/setnetwork?name=sandbox&redirect=explorer/account

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 9.2.0
          run_install: false

      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - uses: actions/cache@v4
        name: Setup pnpm cache
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: pnpm --filter ./ui install

      - name: Lint
        run: pnpm --filter ./ui run lint

      - name: Prettier
        run: pnpm --filter ./ui run prettier

      - name: Typecheck
        run: pnpm --filter ./ui run typecheck

      - name: Run tests
        run: pnpm --filter ./ui run test

      - name: Build
        run: pnpm --filter ./ui run build
